/* Effective stylesheet produced by snapshot save */
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"), url("urn:not-loaded:https://fonts.gstatic.com/s/vt323/v8/dvfL0PQWcCvR-NKPSswI4A.woff2") format("woff2");
  unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"), url("urn:not-loaded:https://fonts.gstatic.com/s/vt323/v8/sGAiBQsp8g2VFBBw5u-taQ.woff2") format("woff2");
  unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local("VT323 Regular"), local("VT323-Regular"), url("urn:not-loaded:https://fonts.gstatic.com/s/vt323/v8/lo_L7yCDHYN9FAxvMCI1vQ.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
