/* Effective stylesheet produced by snapshot save */
@import url("css.css");
@import url("css-1.css");
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
b, strong { font-weight: bold; }
hr { box-sizing: content-box; height: 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { box-sizing: content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
@media print {
  * { text-shadow: none ! important; color: rgb(0, 0, 0) ! important; background: transparent none repeat scroll 0% 0% ! important; box-shadow: none ! important; }
  a, a:visited { text-decoration: underline; }
  a[href]::after { content: " (" attr(href) ")"; }
  abbr[title]::after { content: " (" attr(title) ")"; }
  .ir a::after, a[href^="javascript:"]::after, a[href^="#"]::after { content: ""; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% ! important; }
  @page { margin: 2cm 0.5cm; }
  p, h2, h3 {  }
  .navbar { display: none; }
}
*, *::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Ubuntu",sans-serif; font-size: 16px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
button, input, select[multiple], textarea { background-image: none; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
img { vertical-align: middle; }
hr { margin-top: 22px; margin-bottom: 22px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(238, 238, 238) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
p { margin: 0px 0px 11px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Ubuntu",sans-serif; font-weight: 500; line-height: 1.1; }
h1, h2, h3 { margin-top: 22px; margin-bottom: 11px; }
h1, .h1 { font-size: 41px; }
ul, ol { margin-top: 0px; margin-bottom: 11px; }
@media (min-width: 768px) {
  .dl-horizontal dd::before, .dl-horizontal dd::after { content: " "; display: table; }
  .dl-horizontal dd::after { clear: both; }
  .dl-horizontal dd::before, .dl-horizontal dd::after { content: " "; display: table; }
  .dl-horizontal dd::after { clear: both; }
}
blockquote small::before { content: "— "; }
blockquote.pull-right small::before { content: ""; }
blockquote.pull-right small::after { content: " —"; }
q::before, q::after, blockquote::before, blockquote::after { content: ""; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
@media (min-width: 768px) {
  .container { max-width: 750px; }
}
@media (min-width: 992px) {
  .container { max-width: 970px; }
}
@media (min-width: 1200px) {
  .container { max-width: 1170px; }
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
input[type="search"] { box-sizing: border-box; }
.form-control:-moz-placeholder { color: rgb(153, 153, 153); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); }
.form-control { display: block; width: 100%; height: 36px; padding: 6px 12px; font-size: 16px; line-height: 1.42857; color: rgb(85, 85, 85); vertical-align: middle; background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-group { margin-bottom: 15px; }
.form-horizontal .form-group::before, .form-horizontal .form-group::after { content: " "; display: table; }
.form-horizontal .form-group::after { clear: both; }
.form-horizontal .form-group::before, .form-horizontal .form-group::after { content: " "; display: table; }
.form-horizontal .form-group::after { clear: both; }
.collapse { display: none; }
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("urn:not-loaded:http://haxeflixel.com/vendor/twitter-bootstrap-3/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("urn:not-loaded:http://haxeflixel.com/vendor/twitter-bootstrap-3/fonts/glyphicons-halflings-regular.woff") format("woff"), url("urn:not-loaded:http://haxeflixel.com/vendor/twitter-bootstrap-3/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("urn:not-loaded:http://haxeflixel.com/vendor/twitter-bootstrap-3/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}
.glyphicon-asterisk::before { content: "*"; }
.glyphicon-plus::before { content: "+"; }
.glyphicon-euro::before { content: "€"; }
.glyphicon-minus::before { content: "−"; }
.glyphicon-cloud::before { content: "☁"; }
.glyphicon-envelope::before { content: "✉"; }
.glyphicon-pencil::before { content: "✏"; }
.glyphicon-glass::before { content: ""; }
.glyphicon-music::before { content: ""; }
.glyphicon-search::before { content: ""; }
.glyphicon-heart::before { content: ""; }
.glyphicon-star::before { content: ""; }
.glyphicon-star-empty::before { content: ""; }
.glyphicon-user::before { content: ""; }
.glyphicon-film::before { content: ""; }
.glyphicon-th-large::before { content: ""; }
.glyphicon-th::before { content: ""; }
.glyphicon-th-list::before { content: ""; }
.glyphicon-ok::before { content: ""; }
.glyphicon-remove::before { content: ""; }
.glyphicon-zoom-in::before { content: ""; }
.glyphicon-zoom-out::before { content: ""; }
.glyphicon-off::before { content: ""; }
.glyphicon-signal::before { content: ""; }
.glyphicon-cog::before { content: ""; }
.glyphicon-trash::before { content: ""; }
.glyphicon-home::before { content: ""; }
.glyphicon-file::before { content: ""; }
.glyphicon-time::before { content: ""; }
.glyphicon-road::before { content: ""; }
.glyphicon-download-alt::before { content: ""; }
.glyphicon-download::before { content: ""; }
.glyphicon-upload::before { content: ""; }
.glyphicon-inbox::before { content: ""; }
.glyphicon-play-circle::before { content: ""; }
.glyphicon-repeat::before { content: ""; }
.glyphicon-refresh::before { content: ""; }
.glyphicon-list-alt::before { content: ""; }
.glyphicon-flag::before { content: ""; }
.glyphicon-headphones::before { content: ""; }
.glyphicon-volume-off::before { content: ""; }
.glyphicon-volume-down::before { content: ""; }
.glyphicon-volume-up::before { content: ""; }
.glyphicon-qrcode::before { content: ""; }
.glyphicon-barcode::before { content: ""; }
.glyphicon-tag::before { content: ""; }
.glyphicon-tags::before { content: ""; }
.glyphicon-book::before { content: ""; }
.glyphicon-print::before { content: ""; }
.glyphicon-font::before { content: ""; }
.glyphicon-bold::before { content: ""; }
.glyphicon-italic::before { content: ""; }
.glyphicon-text-height::before { content: ""; }
.glyphicon-text-width::before { content: ""; }
.glyphicon-align-left::before { content: ""; }
.glyphicon-align-center::before { content: ""; }
.glyphicon-align-right::before { content: ""; }
.glyphicon-align-justify::before { content: ""; }
.glyphicon-list::before { content: ""; }
.glyphicon-indent-left::before { content: ""; }
.glyphicon-indent-right::before { content: ""; }
.glyphicon-facetime-video::before { content: ""; }
.glyphicon-picture::before { content: ""; }
.glyphicon-map-marker::before { content: ""; }
.glyphicon-adjust::before { content: ""; }
.glyphicon-tint::before { content: ""; }
.glyphicon-edit::before { content: ""; }
.glyphicon-share::before { content: ""; }
.glyphicon-check::before { content: ""; }
.glyphicon-move::before { content: ""; }
.glyphicon-step-backward::before { content: ""; }
.glyphicon-fast-backward::before { content: ""; }
.glyphicon-backward::before { content: ""; }
.glyphicon-play::before { content: ""; }
.glyphicon-pause::before { content: ""; }
.glyphicon-stop::before { content: ""; }
.glyphicon-forward::before { content: ""; }
.glyphicon-fast-forward::before { content: ""; }
.glyphicon-step-forward::before { content: ""; }
.glyphicon-eject::before { content: ""; }
.glyphicon-chevron-left::before { content: ""; }
.glyphicon-chevron-right::before { content: ""; }
.glyphicon-plus-sign::before { content: ""; }
.glyphicon-minus-sign::before { content: ""; }
.glyphicon-remove-sign::before { content: ""; }
.glyphicon-ok-sign::before { content: ""; }
.glyphicon-question-sign::before { content: ""; }
.glyphicon-info-sign::before { content: ""; }
.glyphicon-screenshot::before { content: ""; }
.glyphicon-remove-circle::before { content: ""; }
.glyphicon-ok-circle::before { content: ""; }
.glyphicon-ban-circle::before { content: ""; }
.glyphicon-arrow-left::before { content: ""; }
.glyphicon-arrow-right::before { content: ""; }
.glyphicon-arrow-up::before { content: ""; }
.glyphicon-arrow-down::before { content: ""; }
.glyphicon-share-alt::before { content: ""; }
.glyphicon-resize-full::before { content: ""; }
.glyphicon-resize-small::before { content: ""; }
.glyphicon-exclamation-sign::before { content: ""; }
.glyphicon-gift::before { content: ""; }
.glyphicon-leaf::before { content: ""; }
.glyphicon-eye-open::before { content: ""; }
.glyphicon-eye-close::before { content: ""; }
.glyphicon-warning-sign::before { content: ""; }
.glyphicon-plane::before { content: ""; }
.glyphicon-random::before { content: ""; }
.glyphicon-comment::before { content: ""; }
.glyphicon-magnet::before { content: ""; }
.glyphicon-chevron-up::before { content: ""; }
.glyphicon-chevron-down::before { content: ""; }
.glyphicon-retweet::before { content: ""; }
.glyphicon-shopping-cart::before { content: ""; }
.glyphicon-folder-close::before { content: ""; }
.glyphicon-folder-open::before { content: ""; }
.glyphicon-resize-vertical::before { content: ""; }
.glyphicon-resize-horizontal::before { content: ""; }
.glyphicon-hdd::before { content: ""; }
.glyphicon-bullhorn::before { content: ""; }
.glyphicon-certificate::before { content: ""; }
.glyphicon-thumbs-up::before { content: ""; }
.glyphicon-thumbs-down::before { content: ""; }
.glyphicon-hand-right::before { content: ""; }
.glyphicon-hand-left::before { content: ""; }
.glyphicon-hand-up::before { content: ""; }
.glyphicon-hand-down::before { content: ""; }
.glyphicon-circle-arrow-right::before { content: ""; }
.glyphicon-circle-arrow-left::before { content: ""; }
.glyphicon-circle-arrow-up::before { content: ""; }
.glyphicon-circle-arrow-down::before { content: ""; }
.glyphicon-globe::before { content: ""; }
.glyphicon-tasks::before { content: ""; }
.glyphicon-filter::before { content: ""; }
.glyphicon-fullscreen::before { content: ""; }
.glyphicon-dashboard::before { content: ""; }
.glyphicon-heart-empty::before { content: ""; }
.glyphicon-link::before { content: ""; }
.glyphicon-phone::before { content: ""; }
.glyphicon-usd::before { content: ""; }
.glyphicon-gbp::before { content: ""; }
.glyphicon-sort::before { content: ""; }
.glyphicon-sort-by-alphabet::before { content: ""; }
.glyphicon-sort-by-alphabet-alt::before { content: ""; }
.glyphicon-sort-by-order::before { content: ""; }
.glyphicon-sort-by-order-alt::before { content: ""; }
.glyphicon-sort-by-attributes::before { content: ""; }
.glyphicon-sort-by-attributes-alt::before { content: ""; }
.glyphicon-unchecked::before { content: ""; }
.glyphicon-expand::before { content: ""; }
.glyphicon-collapse-down::before { content: ""; }
.glyphicon-collapse-up::before { content: ""; }
.glyphicon-log-in::before { content: ""; }
.glyphicon-flash::before { content: ""; }
.glyphicon-log-out::before { content: ""; }
.glyphicon-new-window::before { content: ""; }
.glyphicon-record::before { content: ""; }
.glyphicon-save::before { content: ""; }
.glyphicon-open::before { content: ""; }
.glyphicon-saved::before { content: ""; }
.glyphicon-import::before { content: ""; }
.glyphicon-export::before { content: ""; }
.glyphicon-send::before { content: ""; }
.glyphicon-floppy-disk::before { content: ""; }
.glyphicon-floppy-saved::before { content: ""; }
.glyphicon-floppy-remove::before { content: ""; }
.glyphicon-floppy-save::before { content: ""; }
.glyphicon-floppy-open::before { content: ""; }
.glyphicon-credit-card::before { content: ""; }
.glyphicon-transfer::before { content: ""; }
.glyphicon-cutlery::before { content: ""; }
.glyphicon-header::before { content: ""; }
.glyphicon-compressed::before { content: ""; }
.glyphicon-earphone::before { content: ""; }
.glyphicon-phone-alt::before { content: ""; }
.glyphicon-tower::before { content: ""; }
.glyphicon-stats::before { content: ""; }
.glyphicon-sd-video::before { content: ""; }
.glyphicon-hd-video::before { content: ""; }
.glyphicon-subtitles::before { content: ""; }
.glyphicon-sound-stereo::before { content: ""; }
.glyphicon-sound-dolby::before { content: ""; }
.glyphicon-sound-5-1::before { content: ""; }
.glyphicon-sound-6-1::before { content: ""; }
.glyphicon-sound-7-1::before { content: ""; }
.glyphicon-copyright-mark::before { content: ""; }
.glyphicon-registration-mark::before { content: ""; }
.glyphicon-cloud-download::before { content: ""; }
.glyphicon-cloud-upload::before { content: ""; }
.glyphicon-tree-conifer::before { content: ""; }
.glyphicon-tree-deciduous::before { content: ""; }
.glyphicon-briefcase::before { content: "💼"; }
.glyphicon-calendar::before { content: "📅"; }
.glyphicon-pushpin::before { content: "📌"; }
.glyphicon-paperclip::before { content: "📎"; }
.glyphicon-camera::before { content: "📷"; }
.glyphicon-lock::before { content: "🔒"; }
.glyphicon-bell::before { content: "🔔"; }
.glyphicon-bookmark::before { content: "🔖"; }
.glyphicon-fire::before { content: "🔥"; }
.glyphicon-wrench::before { content: "🔧"; }
.btn-toolbar::before, .btn-toolbar::after { content: " "; display: table; }
.btn-toolbar::after { clear: both; }
.btn-toolbar::before, .btn-toolbar::after { content: " "; display: table; }
.btn-toolbar::after { clear: both; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after { content: " "; display: table; }
.btn-group-vertical > .btn-group::after { clear: both; }
.btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after { content: " "; display: table; }
.btn-group-vertical > .btn-group::after { clear: both; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-bottom-left-radius: 4px; border-top-right-radius: 0px; border-top-left-radius: 0px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) { border-bottom-right-radius: 0px; border-top-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.nav { margin-bottom: 0px; padding-left: 0px; list-style: outside none none; }
.nav::before, .nav::after { content: " "; display: table; }
.nav::after { clear: both; }
.nav::before, .nav::after { content: " "; display: table; }
.nav::after { clear: both; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.tabbable::before, .tabbable::after { content: " "; display: table; }
.tabbable::after { clear: both; }
.tabbable::before, .tabbable::after { content: " "; display: table; }
.tabbable::after { clear: both; }
.navbar { position: relative; z-index: 1000; min-height: 50px; margin-bottom: 22px; border: 1px solid transparent; }
.navbar::before, .navbar::after { content: " "; display: table; }
.navbar::after { clear: both; }
.navbar::before, .navbar::after { content: " "; display: table; }
.navbar::after { clear: both; }
@media (min-width: 768px) {
  .navbar { border-radius: 4px; }
}
.navbar-header::before, .navbar-header::after { content: " "; display: table; }
.navbar-header::after { clear: both; }
.navbar-header::before, .navbar-header::after { content: " "; display: table; }
.navbar-header::after { clear: both; }
@media (min-width: 768px) {
  .navbar-header { float: left; }
}
.navbar-collapse { max-height: 340px; overflow-x: visible; padding-right: 15px; padding-left: 15px; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.navbar-collapse::before, .navbar-collapse::after { content: " "; display: table; }
.navbar-collapse::after { clear: both; }
.navbar-collapse::before, .navbar-collapse::after { content: " "; display: table; }
.navbar-collapse::after { clear: both; }
@media (min-width: 768px) {
  .navbar-collapse { width: auto; border-top: 0px none; box-shadow: none; }
  .navbar-collapse.collapse { display: block ! important; height: auto ! important; padding-bottom: 0px; overflow: visible ! important; }
}
.container > .navbar-header, .container > .navbar-collapse { margin-right: -15px; margin-left: -15px; }
@media (min-width: 768px) {
  .container > .navbar-header, .container > .navbar-collapse { margin-right: 0px; margin-left: 0px; }
}
.navbar-fixed-top, .navbar-fixed-bottom { position: fixed; right: 0px; left: 0px; border-width: 0px 0px 1px; }
@media (min-width: 768px) {
  .navbar-fixed-top, .navbar-fixed-bottom { border-radius: 0px; }
}
.navbar-fixed-top { z-index: 1030; top: 0px; }
.navbar-brand { float: left; padding: 14px 15px; font-size: 20px; line-height: 22px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
@media (min-width: 768px) {
  .navbar > .container .navbar-brand { margin-left: -15px; }
}
.navbar-toggle { position: relative; float: right; margin-right: 15px; padding: 9px 10px; margin-top: 8px; margin-bottom: 8px; background-color: transparent; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 22px; }
@media (min-width: 768px) {
  .navbar-nav { float: left; margin: 0px; }
  .navbar-nav > li { float: left; }
  .navbar-nav > li > a { padding-top: 14px; padding-bottom: 14px; }
}
.navbar-form { margin: 7px -15px; padding: 10px 15px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.1); }
@media (min-width: 768px) {
  .navbar-form .form-group { display: inline-block; margin-bottom: 0px; vertical-align: middle; }
  .navbar-form .form-control { display: inline-block; }
}
@media (max-width: 767px) {
  .navbar-form .form-group { margin-bottom: 5px; }
}
@media (min-width: 768px) {
  .navbar-form { width: auto; border: 0px none; margin-left: 0px; margin-right: 0px; padding-top: 0px; padding-bottom: 0px; box-shadow: none; }
}
.navbar-inverse { background-color: rgb(34, 34, 34); border-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-brand { color: rgb(153, 153, 153); }
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > li > a { color: rgb(153, 153, 153); }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-toggle { border-color: rgb(51, 51, 51); }
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: rgb(51, 51, 51); }
.navbar-inverse .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgb(16, 16, 16); }
.breadcrumb > li + li::before { content: "/ "; padding: 0px 5px; color: rgb(204, 204, 204); }
.pager::before, .pager::after { content: " "; display: table; }
.pager::after { clear: both; }
.pager::before, .pager::after { content: " "; display: table; }
.pager::after { clear: both; }
@keyframes progress-bar-stripes {
  0% { background-position: 40px 0px; }
  100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
  0% { background-position: 40px 0px; }
  100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
  0% { background-position: 40px 0px; }
  100% { background-position: 0px 0px; }
}
.panel-body::before, .panel-body::after { content: " "; display: table; }
.panel-body::after { clear: both; }
.panel-body::before, .panel-body::after { content: " "; display: table; }
.panel-body::after { clear: both; }
.modal-footer::before, .modal-footer::after { content: " "; display: table; }
.modal-footer::after { clear: both; }
.modal-footer::before, .modal-footer::after { content: " "; display: table; }
.modal-footer::after { clear: both; }
.popover .arrow, .popover .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover .arrow::after { border-width: 10px; content: ""; }
.popover.top .arrow::after { content: " "; bottom: 1px; margin-left: -10px; border-bottom-width: 0px; border-top-color: rgb(255, 255, 255); }
.popover.right .arrow::after { content: " "; left: 1px; bottom: -10px; border-left-width: 0px; border-right-color: rgb(255, 255, 255); }
.popover.bottom .arrow::after { content: " "; top: 1px; margin-left: -10px; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.popover.left .arrow::after { content: " "; right: 1px; border-right-width: 0px; border-left-color: rgb(255, 255, 255); bottom: -10px; }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
body { background-image: url("highlight-bg.png"), url("site-bg.png"); background-repeat: no-repeat, repeat; background-position: center top, left top; }
a { text-decoration: none; transition: all 0.25s ease 0s; }
a:hover { text-decoration: none; }
a, object { outline: 0px none; }
hr { border-color: lightgray; }
h3::before { display: block; content: " "; margin-top: -60px; height: 60px; visibility: hidden; }
.navbar-brand { padding: 10px; }
.search-form { float: right; }
@media (max-width: 992px) {
  .search-form { display: none; }
}
@media (max-width: 1200px) {
  .search-form { display: none; }
}
@media (max-width: 768px) {
  .search-form { display: none; }
}
.title::before { background-image: -moz-linear-gradient(left center , rgb(255, 219, 45) 0px, rgb(255, 219, 45) 20%, rgb(227, 0, 25) 20%, rgb(227, 0, 25) 40%, rgb(156, 182, 65) 40%, rgb(156, 182, 65) 60%, rgb(26, 46, 239) 60%, rgb(26, 46, 239) 80%, rgb(0, 171, 243) 80%, rgb(0, 171, 243) 100%); bottom: -6px; content: ""; height: 4px; left: 0px; margin-bottom: 8px; position: absolute; right: 0px; }
pre .title::before { background-image: none; }
.flixel-footer-logo { height: 40px; }
.footer-powered-by img.openfl-footer-logo { width: 46px; }
.lead-line { font-size: 30px; font-weight: 200; padding-bottom: 30px; }
.lead-line-large { font-size: 30px; font-weight: 200; }
.home-button { font-size: 20px; background: rgb(236, 236, 236) none repeat scroll 0% 0%; border-radius: 10px; padding: 16px 30px; text-decoration: none; text-shadow: 0px 1px 0px rgb(255, 255, 255); border: 1px solid rgb(167, 167, 167); box-shadow: 0px 2px 1px rgb(255, 255, 255) inset, 0px -2px 8px rgb(255, 255, 255), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1); transition: box-shadow 0.5s ease 0s; margin-right: 4px; text-align: center; }
.home-button:hover { box-shadow: 0px 2px 1px rgb(255, 255, 255) inset, 0px -2px 20px rgb(255, 255, 255), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1); }
.home-button:active { top: 2px; position: relative; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px rgb(255, 255, 255), 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1); background: transparent -moz-linear-gradient(center top , rgb(209, 209, 209) 0px, rgb(236, 236, 236) 100%) repeat scroll 0% 0%; }
.sponsors-button { font-size: 24px; display: block; width: 300px; margin: 0px auto; }
.home-header { margin-top: 5em; }
.home-header h1 { font-size: 6em; line-height: 1; }
.home-social { margin-top: 2em; }
.home-section { position: relative; padding: 1em; text-align: center; }
.demos-home img { margin: 10px; box-shadow: 0px 1px 5px rgb(105, 105, 105), 0px -2px 5px rgb(242, 242, 242); }
.platform-logos-home img { padding: 10px; opacity: 0.7; transform: scale(1); transition: all 0.1s ease-in-out 0s; filter: grayscale(100%); }
.platform-logos-home img:hover { transform: scale(1.1); }
.platform-logos-home img:hover { opacity: 1; filter: grayscale(0); }
.twitter-follow-button.twitter-follow-button { height: 36px; }
.home-big-logo img { transform: scale(1); transition: all 0.1s ease-in-out 0s; }
.home-big-logo img:hover { transform: scale(1.1); }
.navbar-fixed-top { box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3); }
.home-section-powered { text-align: center; }
.home-section-powered img { transform: scale(1); transition: all 0.1s ease-in-out 0s; }
.home-section-powered img:hover { transform: scale(1.03); }
.home-section-powered span { font-size: 48px; padding: 20px; }
.patreon-home img { max-width: 240px; vertical-align: top; margin-left: 30px; }
.backer-hr { margin-top: 60px; }
@media (max-width: 992px) {
  .home-button { margin-top: 20px; margin-bottom: 20px; display: block; }
}
@media (max-width: 1200px) {
  .demos-home.home-section { max-width: 700px; margin: 0px auto; }
}
@media (max-width: 768px) {
  .home-header h1 { font-size: 4em; }
}
.sponsor-logos-container { display: flex; justify-content: center; align-items: center; }
.lead-line-large { text-align: center; }
.home-sponsor-logos img { margin: 16px; max-height: 174px; }
@media (max-width: 1200px) {
  .sponsor-logos-container { flex-direction: column; }
}
.footer-main { margin-top: 60px; background: rgb(81, 81, 81) url("footer-shadow.png") repeat-x scroll 0px 0px; min-height: 110px; text-shadow: none; }
footer::before { background-image: -moz-linear-gradient(left center , rgb(255, 219, 45) 0px, rgb(255, 219, 45) 20%, rgb(227, 0, 25) 20%, rgb(227, 0, 25) 40%, rgb(156, 182, 65) 40%, rgb(156, 182, 65) 60%, rgb(26, 46, 239) 60%, rgb(26, 46, 239) 80%, rgb(0, 171, 243) 80%, rgb(0, 171, 243) 100%); content: ""; height: 4px; left: 0px; position: absolute; right: 0px; }
.footer-powered-by { color: rgb(255, 255, 255); float: right; margin-top: 20px; }
.footer-powered-by p { display: inline; }
.footer-powered-by img { width: 40px; transform: scale(1); transition: all 0.1s ease-in-out 0s; margin: 6px; }
.footer-powered-by img:hover { transform: scale(1.2); }
.footer-social { margin-top: 28px; float: left; }
.footer-patreon { margin-left: 20px; }
.footer-patreon img { width: 40px; }
@media (max-width: 992px) {
  .footer-powered-by { float: none; margin-top: 40px; margin-bottom: 40px; text-align: center; }
  .footer-powered-by a { display: block; }
  .footer-social { float: none; text-align: center; }
  .footer-powered-by p { display: block; margin-bottom: 26px; }
}
.highlighted .container::before, .highlighted .container::after { clear: none; content: none; }
